<h1>Search results</h1>
<p>
  <strong>Number of matches:</strong>
  <%= @students.count %>
</p>

<table>
  <thead>
  <tr>
    <th>Student name</th>
    <th>Phone number</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.phone %></td>
      </tr>
  <% end %>
  </tbody>
</table>